
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* todo: do this with material-ui styles */
.delete-btn {
  visibility: hidden;
}

.MuiTableRow-root.MuiTableRow-hover:hover .delete-btn {
  visibility: visible;
}
