
div.header {
  background-color: #444;
  color: whitesmoke;
  padding: 60px 40px;
}

div.header > div.title {
  font-size: 5rem;
  font-weight: bolder;
}

div.header > div.subtitle {
  font-size: 2rem;
}
